* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
/*	border: solid;*/
	background-color: #fff;
}

main {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	border-radius: 10px;
	background-color:lightgray;
}

#body {
	margin: 0 125px 0 125px;
}
		
h1 {
	color:black; 
	font-family:didot; 
	font-size:40px;
	text-align:left;
}

h4 {
	color:black; 
	font-family:didot; 
	font-size:20px;
	text-align:left;
}

.my-img { 
    width: 700px;
    height: auto; 
    object-fit: contain;
    display: block;
    margin: 30px auto;
    border: 5px solid black;
}

.resources {
	text-align: center;
	font-size: 1.5em;
	color: black;
	margin-bottom: 30px;
}

.content {
/*	border: solid;*/
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 30px;
	}

.bass_bites_img {
	max-width: 400px;
	border-radius: 50px;
	align-self: center;
}


.bass_bites_text {
	text-align: center;
	align-self: center;
	width: 40%;
	margin: 30px auto;
	font-size: 1.2em;
	padding: 0 30px;
}

p {
	color: black;
	font-size: 1.2em;
}

.subtitle {
	text-align: center;
	color: black;
	font-family:didot;
	background-color: #8FBC8F;
	font-size: 20px;
	margin: 30px auto;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #7b403b;
}

/*button {
	text-align: center;
	color: #7b403b;
	font-family:didot;
	font-size: 1.2em;
	background-color: #fff;
	border: transparent;
	padding: 5px;
}*/

table, td, th {
	height: auto;
    max-width: 100%;
    border-collapse: collapse;
  	border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin-left: 65px;
    margin-right: 65px;
    padding: 20px;
}

 /* For mobile phones: */
 
@media (max-width:600px) {
  	#body {
  		margin: 0;
  		padding: 10px;
  	}
  	
  	h1, h4 {
  		text-align: center;
  	}
  	
  	.top-container {
        margin: 0;
        width: 100% auto;
    }
    
    main {
    	width: 95%;
    	margin: 0 auto;
    }
  	
  	.container {
    	width: 100% auto;
    	justify-content: center;
    	margin: 0;
    	padding: 10px;
	}
	.content {
		padding: 0;
	}

	.bass_bites_image {
		max-width: 200px;
		margin: 0 5px;
		display: block;
	}
	
	
	.bass_bites_text {
		width: 100%;
		padding: 0;
	}
	
	.events {
		width: 100%;
		margin: 0 auto;
	}
	
 	table {
 	  	padding: 5px;
 	  	margin: 0 auto;
		max-width: 90%;
		display: block;
		font-size: 0.7rem;
 }
	
	td, th {
 	  	padding: 5px;
		max-width: 100%;
		font-size: 0.7rem;
 }

	
 	.my-img {
 		max-width: 100%;
 	}
 
}
