html {
	overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    /* background: transparent; make scrollbar transparent */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color:lightgray;
}

main {
	width: 100%;
	margin: 0 auto;
	padding: 20px 20px;
	border-radius: 10px;
}

#body {
	margin: 0 125px 0 125px;
}
		
h1 {
	color:black; 
	font-family:didot; 
	font-size:40px;
	text-align:left;
}

h4 {
	color:black; 
	font-family:didot; 
	font-size:20px;
	text-align:left;
}

.my-img { 
    width: 700px;
    height: auto; 
    object-fit: contain;
    display: block;
    margin: 30px auto;
    border: 5px solid black;
}

.resources {
	text-align: center;
	font-size: 1.5em;
	color: black;
	margin-bottom: 30px;
}

.content {
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 30px;
	}

.cc_img {
	display: block;
	height: auto;
	width: 70%;
	align-self: center;
	margin: 30px auto;
	border: solid 3px transparent;
}


.bass_bites_img {
	max-width: 400px;
	border-radius: 50px;
	align-self: center;
}


.bass_bites_text {
	text-align: center;
	align-self: center;
	width: 40%;
	margin: 30px auto;
	font-size: 1.2em;
	padding: 0 30px;
}

p {
	color: black;
	font-size: 1.2em;
}

.subtitle {
	text-align: center;
	color: black;
	font-family:didot;
	background-color: #8FBC8F;
	font-size: 20px;
	margin: 30px auto;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #7b403b;
}

table, th, td {
	height: auto;
	table-layout: fixed;
	width: 90%;
    	max-width: 100%;
    	border-collapse: collapse;
  	border: 2px solid rgb(200,200,200);
    	letter-spacing: 1px;
    	font-size: 0.9rem;
    	margin: 0 auto;
    	padding: 20px;
}

#bio {
	padding-left: 25px;
	padding-right: 25px;
	text-align: justify;
}
 /* For mobile phones: */
 
@media (max-width:1200px) {
  	#body {
  		margin: 0;
  	}
  	
  	h1, h4 {
  		text-align: center;
  	}
  	
  	.top-container {
        margin: 0;
        width: 100% auto;
    }
    
    main {
    	width: 100%;
    	margin: 0 auto;
    }
  	
  	.container {
    	width: 100% auto;
    	justify-content: center;
    	margin: 0;
    	padding: 10px;
	}
	.content {
		padding-right: 10px;
		padding-left: 10px;

	}

	.bass_bites_img {
		max-width: 300px;
		margin: 0 5px;
	}
	
	
	.bass_bites_text {
		width: 100%;
		min-width: 300px;
		
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.events {
		width: 100%;
		margin: 0 auto;
	}
	
 	table, td, th {
		font-size: 0.7rem;
		padding: 5px;
 }
	

 	.cc_img {
		width: 90%;
 }
	
 	.my-img {
 		max-width: 80%;
 	}
 
}
