body {
  color: #e3e7afff;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #5a2328ff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5rem;
  line-height: 1.3;
  margin: 50px auto 0 auto;
  /*text-decoration: underline;*/
}

h2 {
  color: #8E3200;
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #8E3200;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
 margin-bottom: 0;
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: black;
}

li {
  font-size: 20px;
  color: black;
  line-height: 1.5;
}

hr {
  border: solid #DAE7E4 6px;
  border-bottom: none;
  margin: 50px auto;
  width: 50%;
}

a {
  color: #733C3C;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  font-size: 20px;
  
}

a:hover {
  color: #CEAB93;
}

.top-container {
  background-color: #DAE7E4;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  /* border: 10px solid;
  padding: 20px;
  text-align: center; */
}

.us {
  width: 500px;
  top: 20px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.bands {
 width: 30%;
 height: 30%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.intro {
  margin: 50px auto;
  text-align: center;
  width: 50%;
}

.sessions {
  margin: 50px auto;
  line-height: 1;
  text-align: left;
  width: 50%;
}

 .map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 450px;
    border: 0;
        }

.btn {
    border: none;
    background-color: #E32D0E;
    color: white;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    padding: 14px 28px;
    font-size: 35px;
    cursor: pointer;
    display: inline-block;
}

.bottom-container {
  background-color: #DAE7E4;
  line-height: 2;
  padding: 50px 0 20px 0;
  width: auto;
  margin-top: 50px;
}

    /* For mobile phones: */
    
@media (max-width:600px) {

  
      .top-container {
            margin: 0;
            width: 100% auto;
        }
        
        h1 {
            font-size: 2.7rem;
        }
        
        h2 {
            font-size: 2rem;
        }
        
        h3 {
            font-size: 1.5rem;
        }
        
        p {
           font-size: 20px; 
        }
        
        .us {
            width: 300px;
        }
        
        .intro {
            width: 100%;
        }
        
        .sessions {
            width: calc(100% - 40px);
            margin: 20px;
            padding-top: 5px;
        }
        
        .map {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: calc(80% - 40px);
        }
        
    }
